*{
    border-radius: 8px;
}
.navbar {
    background: linear-gradient(90deg, #ffb8b8, #ffcece, #ffe3e3);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff4b5c;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.nav_links {
    text-align: center;
}

.nav_links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.nav_links a:hover {
    color: #ff4b5c;
    border-bottom: 2px solid #ff4b5c;
}

.active {
    color: #ff4b5c;
    border-bottom: 2px solid #ff4b5c;
}

.btn_login {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn_login:hover {
    background-color: #ff6f6f;
}
.Welcome_page{
    
    background-color: #ffcece;
}
.contact_header {
    text-align: center;
    padding: 20px;
    
    background-image: url(https://b.zmtcdn.com/webFrontend/8015dbe54fd3659cc0366c1cc77f664c1601890512.jpeg?output-format=webp);
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat; 
    height: 25vh;             
    border-radius: 20px;  
    padding-top: 50px;
}
 
.contact_header h2 {
    font-size: 32px;
    margin-top: 20px;
    color: #ff4b5c;
    font-weight: 700;
}







.contact_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 40px;
}


.help_form {
    width: 60%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.help_form h2 {
    margin-bottom: 20px;
    color: #ff4b5c;
}


.help_form input, 
.help_form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.help_form textarea {
    height: 120px;
    resize: none;
}


.help_dropdown {
    margin-bottom: 18px;
    position: relative;
}

.dropdown_btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: left;
    background: #fff;
}


.dropdown_content {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    top: 45px;
    left: 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 10;
}

.dropdown_content p {
    margin: 0;
    padding: 12px;
    cursor: pointer;
}

.dropdown_content p:hover {
    background: #fce4e4;
}


.help_dropdown:hover .dropdown_content {
    display: block;
}


.submit_btn {
    width: 100%;
    padding: 14px;
    background: #ff4b5c;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.submit_btn:hover {
    background: #e63e4d;
}



.emergency_box {
    width: 35%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.emergency_box h3 {
    color: #ff4b5c;
}

.report_btn {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background: #ff4b5c;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.report_btn:hover {
    background: #e63e4d;
}

.divider {
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
