
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
  background: linear-gradient(90deg, #ffb8b8, #ffcece, #ffe3e3);
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  
}

.space {
  height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff4b5c;
    text-decoration: none;
}

.back-btn {
    background-color: #ff4b5c;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.back-btn:hover {
    background-color: #ff2e3d;
}

.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffe3e3, #ffb8b8);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h2 {
    color: #ff4b5c;
    margin-bottom: 20px;
}


.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease;
}

.login-container input:focus {
    border-color: #ff4b5c;
}



.back-btn {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.btn-login:hover {
    background-color: #ff2e3d;
}

.login-container p {
    font-size: 14px;
    margin-top: 15px;
}

.login-container a {
    color: #ff4b5c;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    text-decoration: underline;
}

